/*
Simple but timeless look. Doesn't try to do too much.
Calm background, accent color to border images, and an easy to read font.
Information is centered and has no distractions around it.
*/

html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

body {
    background-color: rgb(94, 130, 184);
}

img {
    border: 5px solid rgb(138, 161, 196)
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 45px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 30px;
}

p.thick {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}